{% extends "base.html" %}
{% block title %}Welcome{% endblock %}

{% block content %}
<div class="jumbotron text-center">
    <h1 class="display-4">Welcome to our Flask App!</h1>
    <p class="lead">This is a simple Flask application to demonstrate user registration and authentication.</p>
    <hr class="my-4">
    <p>Please login or register to view the content of the site.</p>
    <a class="btn btn-primary btn-lg" href="{{ url_for('login') }}" role="button">Login</a>
    <a class="btn btn-secondary btn-lg" href="{{ url_for('register') }}" role="button">Register</a>
</div>
{% endblock %}
